
.reports-paper {
  margin-top: -40px;
  padding: 32px;
  border-radius: 18px;
  margin-bottom: 32px;
}

.reports-group-select {
  min-width: 320px !important;
  margin-bottom: 22px !important;
  text-align: left;
}

.supervisor-reports-placeholder {
  font-size: 1.5rem !important;
  margin: 32px 0 12px 0;
  text-align: center;
}

.report-summary {
  margin-bottom: 18px;
}

.super-report-title {
  font-size: 1.5rem !important;
  font-weight: 900 !important;
  color: #2563eb;
  margin-bottom: 2px;
}

.super-report-members {
  font-size: 1.3rem !important;
  color: #000000 !important;
  margin-bottom: 7px !important;
  margin-top: 7px !important;
}

.super-report-progress-summary {
  margin-bottom: 9px !important;
  margin-top: 15px !important;
  font-size: 1.3rem !important;
}

.super-report-total-score {
  font-size: 1.2rem !important;
  color: #219653;
  font-weight: 700 !important;
  margin-bottom: 6px !important;
  margin-top: 15px !important;
}

.report-export-btns {
  display: flex;
  gap: 18px;
  margin-bottom: 16px;
}

.export-btn {
  font-weight: 700 !important;
  letter-spacing: 0.2px;
  font-size: 1.07rem !important;
  width: 250px !important;
}

.super-report-table {
  margin-top: 25px;
}

.report-status-chip {
  font-weight: 600 !important;
}

.feedback-missing {
  color: #aaa;
  font-style: italic;
}