.analytics-container {
  padding: 24px 0;
  max-width: 1350px;
  margin: 0 auto;
}

.analytics-card {
  border-radius: 20px;
  box-shadow: 0 8px 32px #2563eb22;
  padding: 12px;
  background: #f8fbff;
  min-height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.analytics-card-content {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-title {
  margin-bottom: 16px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 900;
}

.line-chart-box {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}

.milestone-list {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 12px;
  font-size: 15px;
  color: #374151;
  font-weight: 700;
  flex-wrap: wrap;
}

.milestone-item {
  min-width: 95px;
}

.milestone-label {
  color: #2563eb;
}

.bar-chart-box {
  width: 100%;
  margin-top: 24px;
}

.bar-card {
  border-radius: 20px;
  box-shadow: 0 8px 32px #2563eb1b;
  background: #f8fbff;
  /*padding: 20px;*/
  /*margin: 0 auto;*/
  /*max-width: 700px;*/
}

.bar-title {
  margin-bottom: 16px;
  letter-spacing: -1.2px;
  text-align: center;
  font-weight: 900;
      color: #01337a;
      font-size: 1.9rem;

}

.bar-inner-box {
  width: 100%;
  max-width: 100%;
  /*margin: 0 auto;*/
}
