@import "./styles/variables.css";

/* Tailwind CSS imports (only ONCE!) */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom global styles below (optional) */
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  /* background: var(--color-background-light); */
}

/* Global Styles */

/*p {*/
/*  font-size: 18px !important;*/
/*  font-weight: 400 !important;*/
/*  opacity: 0.98 !important;*/
/*  color: #e3e8f5 !important;*/
/*}*/

td {
  color: #01337a !important;
  font-weight: 500 !important;
  text-align: left !important;
  font-size: 19px !important;
}

th{
  color:white !important;
  font-size: 21px !important;

}

label {
  font-weight: 700 !important;
  color: #01337a !important;
  font-size: 1.5rem !important;
}
